.MainDiv {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
}

.photoDiv {
  width: 1100px;
  height: 500px;
  border: solid 2px white;
  border-radius: 15px;
  background-image: url("../image/pexels-cristian-rojas-8448178.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.imageinfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
  text-align: center;
}

@media (max-width: 450px) {
  .imageinfo {
    width: 100%;
  }
}
